@import url('https://fonts.cdnfonts.com/css/sport-news');

.hero {
  height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: center;
  z-index: 10;
  margin-top: -25px;
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end; 
    justify-content: end;
    flex-direction: column;
  }
}

h1 {
  font-family: 'SPORT NEWS', sans-serif;
}
.hero-btn button{
  padding: 12px 28px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #91be1d;
  transition: all .3s;

  &:hover {
  background-color: #9ac923 !important;
  color: white !important;
  transform: translate(0);
  }
}

.white-btn {
  background-color: white !important;
  color: #91be1d !important;
}

.hero-swiper {
  height: 100vh;
}

.content {
  position: relative;
  height: auto; 
  width: 100%;
  z-index: 10;
  gap: 16px;
  text-align: start; 
  padding-left: 240px;
  padding-bottom: 120px;
  justify-content: end;
  animation: fadeInUp 1s ease-in-out; /* Apply the animation */
}

@media (max-width: 992px) {
  .hero {
    margin-top: 80px;
  }
  .content {
    padding-left: 100px;
  }
  
}

@media (max-width: 768px) {
  .hero {
    height: 60vh; /* Adjust height for smaller screens */
    margin-top: 60px !important;
  }
  .hero-swiper {
    height: 60vh;
  }

  .overlay {
    align-items: center; /* Center align items for better spacing */
    justify-content: center; /* Center align content */
  }
  .content {
    padding-left: 16px; 
    padding-bottom: 60px; 

  }
}


@media (max-width: 480px) {
  .content {
    padding-left: 4px; 
    padding-bottom: 20px; 
    text-align: center; 
  }
  .hero-btn {
    gap: 6px !important;
  }
  .hero-btn button {
    transition: .3s;
    transform: scale(0.8);

  }
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Start slightly below the final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the final position */
  }
}
